<!DOCTYPE html>
<html lang="en" ng-app="fTelnetApp">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

    <title>My fTelnet</title>

    <link href="css/bootstrap.Cyborg.min.css" rel="stylesheet"/>
    <link href="css/site.css" rel="stylesheet"/>
</head>
<body ng-controller="AddressBook">>
    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">My fTelnet</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/">Address Book</a></li>
                    <li><a href="settings">Settings</a></li>
                    <li><a href="help">Help</a></li>
                    <li><a href="about">About</a></li>
                    <li><a href="contact">Contact</a></li>
                    <li><a href="donate"><strong class="text-warning">Donate</strong></a></li>
                    <li><a href="embed"><strong class="text-success">Embed</strong></a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    <!-- Begin page content -->
    <div class="container">
        <!--[if lt IE 9]>
        <div class="row">
            <div class="col-xs-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        Your browser is too old!
                    </div>
                    <div class="panel-body">
                        This site requires Internet Explorer 9 or newer.  Or better yet, try <a href="https://www.mozilla.org/en-US/firefox/" target="_blank">Firefox</a> or <a href="https://www.google.com/chrome/browser/" target="_blank">Chrome</a>
                    </div>
                </div>
            </div>
        </div>
        <![endif]-->
        
        <div class="row">
            <div class="col-sm-7">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        My Address Book
                        <div class="pull-right"><a href="#" ng-click="Add();" class="btn btn-xs btn-success"><span class="glyphicon glyphicon-plus"></span> Add a new entry</a></div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0;">
                            <tbody ng-repeat="Server in MyServers">
                                <tr>
                                    <td>
                                        <a href="#" ng-click="Connect($index);">{{Server.Description}}</a>
                                        <a href="#" ng-click="Delete($index);" class="btn btn-xs btn-danger pull-right"><span class="glyphicon glyphicon-remove"></span> Delete</a>
                                        <a href="#" ng-click="Edit($index);" class="btn btn-xs btn-primary pull-right"><span class="glyphicon glyphicon-pencil"></span> Edit</a>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot ng-show="!MyServers.length">
                                <tr><td>You have no address book entries.  Why not add one?</td></tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="panel-footer">
                        <a href="#" ng-click="Export();" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-export"></span> Export entries</a>
                        &nbsp;
                        <a href="#" ng-click="Import();" class="btn btn-xs btn-primary"><span class="glyphicon glyphicon-import"></span> Import entries</a>
                        <input type="file" id="fuImport" style="display: none;" onchange="angular.element(this).scope().ImportFileSelected(this);" />
                    </div>
                </div>
            </div>
            
            <div class="col-sm-5">
                <div class="panel panel-default">
                    <div class="panel-heading">Global Address Book</div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-hover" style="margin-bottom: 0;" id="tblGlobalAddressBook">
                            <tbody ng-repeat="Server in GlobalServers">
                                <tr><td><a href="http://embed.ftelnet.ca/?{{Server.Params}}" target="_blank">{{Server.Description}}</a></td></tr>
                            </tbody>
                            <tfoot ng-show="!GlobalServers.length">
                                <tr><td>Error loading global address book</td></tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Modal -->
    <div class="modal fade" id="AddEdit" tabindex="-1" role="dialog" aria-labelledby="AddEditLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="AddEditLabel">Add/Edit an address book entry</h4>
          </div>
          <div class="modal-body">
            <div class="form-group col-xs-12" id="pnlDescription">
              <label for="txtDescription" class="control-label">Description</label>
              <input type="text" id="txtDescription" class="form-control">
            </div>
            <div class="form-group col-sm-6" id="pnlHostname">
              <label for="txtHostname" class="control-label">Hostname</label>
              <input type="text" placeholder="Hostname or IP address" id="txtHostname" class="form-control">
            </div>
            <div class="form-group col-sm-6" id="pnlPort">
              <label for="txtPort" class="control-label">Port</label>
              <input type="text" placeholder="Port" id="txtPort" class="form-control">
            </div>
            <div class="form-group col-sm-6">
              <label for="cboConnectionType" class="control-label">Connection Type</label>
              <select id="cboConnectionType" class="form-control">
                <option value="telnet">Telnet</option>
              </select>
            </div>
            <div class="form-group col-sm-6">
              <label for="cboEmulation" class="control-label">Emulation</label>
              <select id="cboEmulation" class="form-control">
                  <option selected="selected" value="ansi-bbs">ansi-bbs</option>
                  <option value="c64">Commodore 64</option>
                  <!--<option value="RIP">RIP</option>-->
              </select>
            </div>
            <div class="checkbox col-xs-12" style="margin-top: 0; margin-bottom: 25px;">
              <label>
                <input type="checkbox" id="chkProxy" checked="checked"> Connect via proxy?  (See the Settings page for more info)
              </label>
            </div>
          </div>
          <div class="modal-footer">
            <a href="#" ng-click="Save();" class="btn btn-success pull-left"><span class="glyphicon glyphicon-floppy-saved"></span> Save</a>
            <button type="button" class="btn btn-danger" data-dismiss="modal"><span class="glyphicon glyphicon-floppy-remove"></span> Cancel</button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script>$.fn.modal || document.write('<script src="js/bootstrap.min.js"><\/script>')</script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <script>window.angular || document.write('<script src="js/angular-1.3.11.min.js"><\/script>');</script>

    <script src="js/Blob.js"></script>
    <script src="js/FileSaver.min.js"></script>
    <script src="js/controllers.js"></script>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-4602017-8', 'auto');
      ga('send', 'pageview');
    </script>
</body>
</html>
