<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Default Document" stopProcessing="true">
                  <match url="(.*)index.html" />
                  <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="RedirectFromHTML" stopProcessing="true">
                    <match url="(.*).html" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="RewriteToHTML">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}.html" />
                </rule>
            </rules>
        </rewrite>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/404.aspx" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
