<h2>Settings</h2>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Proxy Server
            </div>
            <div class="panel-body">
                <p>
                    fTelnet speaks <a href="http://en.wikipedia.org/wiki/WebSocket" target="_blank">WebSocket</a>, but most BBSes
                    speak <a href="http://en.wikipedia.org/wiki/Telnet" target="_blank">Telnet</a>.  Having them talk directly to
                    each other would be like an English person speaking to a French person.  So a
                    <a href="http://en.wikipedia.org/wiki/Proxy_server" target="_blank">proxy server</a> can be used to act as a
                    translator of sorts, allowing fTelnet to connect to and communicate with BBSes it otherwise wouldn't be able to.
                </p>
                <p>
                    Just select a proxy from the list below -- it doesn't have to be the one closest to you, but that'll usually give
                    you the best performance.  And you don't always have to use this proxy -- if you know the BBS you're connecting to
                    is capable of speaking WebSocket on its own, then you can un-check the appropriate box when you add the BBS to your
                    address book.
                </p>
                
                <p>
                    <select class="form-control" ng-change="ProxyChanged();" ng-model="Settings.ProxyServer" ng-options="Server.Hostname + ':' + Server.WsPort + ':' + Server.WssPort as Server.Country + ' (' + Server.Location + ')' group by Server.Continent for Server in ProxyServers"></select>
                </p>
                
                <p class="small">
                    (<a href="http://proxy.ftelnet.ca" target="_blank">proxy.ftelnet.ca</a> hosts a real-time status page for the proxy
                    servers, feel free to check it out and see the day/week/month uptime report for each server.)
                </p>
            </div>
        </div>
    </div>
</div>